/* fonts */
@import url(../vendor/bootstrap/css/bootstrap.css);
@import url(../vendor/fonts/font-awesome/css/font-awesome.css);
@import url(../vendor/fonts/opensans/stylesheet.css);
@import url(../vendor/owlcarousel/owl.carousel.css);
@import url(../vendor/fonts/titillium-web/stylesheet.css);
/*------------------------------------------------------------------
CSS
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Body]
*/
/* Typography */
img {
  width: 100%;
  height: auto; }

body {
  position: relative;
  padding: 0px;
  margin: 0px; }

a:focus {
  outline: none; }

img {
  max-width: 100%;
  height: auto; }

.form-text, .form-select, .form-textarea {
  border: 1px solid #d1d1d1;
  padding: 10px; }

a {
  padding: 0px;
  margin: 0px; }

.header {
  background-color: #2E2E3B;
  position: fixed;
  top: 0px;
  z-index: 9999;
  left: 0px;
  right: 0px; }
  .header .container {
    padding-top: 9px;
    padding-bottom: 9px; }
  .header .logo {
    padding-top: 13px;
    padding-bottom: 13px; }
    .header .logo p {
      font-family: "titillium_webbold";
      font-size: 1.285em;
      background-color: #d83737;
      color: #fff;
      margin: 0px;
      padding: 4px 17px 6px 17px; }
  .header ul {
    padding-top: 4px; }
    .header ul li a {
      padding-left: 19px;
      font-family: "titillium_webregular";
      color: #fff;
      font-size: 1.142em; }
      .header ul li a:hover {
        background: none;
        color: red; }
      .header ul li a:focus {
        background: none;
        border: none; }

.footer {
  background-color: #232331;
  margin-top: 30px; }
  .footer .container {
    padding-top: 60px;
    padding-bottom: 60px; }
  .footer h3 {
    font-family: "titillium_websemibold";
    font-size: 1.428em;
    color: #bbbbbb;
    padding-bottom: 20px;
    margin-bottom: 53px; }
  .footer p {
    font-family: "titillium_websemibold";
    font-size: 1em;
    color: #57576e; }
  .footer .form-group {
    margin-top: 32px; }
  .footer .txtemail {
    border-radius: 0px;
    font-family: "titillium_websemibold";
    font-size: 1em;
    position: relative;
    background-color: #1f1f2d;
    border: 1px solid #31313e; }
    .footer .txtemail:hover {
      box-shadow: none; }
  .footer .btn {
    margin-top: -35px;
    position: absolute;
    right: 15px; }
    .footer .btn:focus {
      outline: none; }
    .footer .btn:hover i {
      color: red; }
    .footer .btn i {
      font-size: 1.071em;
      color: #31313e; }

.slogan {
  border-top: 1px solid #57576e;
  background-color: #232331; }
  .slogan .container {
    padding-top: 28px;
    text-align: center;
    padding-bottom: 28px; }
  .slogan span {
    font-family: "titillium_webregular";
    font-size: 1.071em;
    color: #57576e;
    padding-top: 10px;
    text-align: center; }
  .slogan .slogan-name {
    color: #ffffff; }

.modal-header {
  position: relative;
  background-color: #ffffff;
  border-radius: 3px;
  border: none;
  padding-bottom: 10px;
  padding-top: 10px; }
  .modal-header .modal-first {
    text-align: center;
    font-family: "titillium_websemibold";
    font-size: 1.714em; }
  .modal-header .modal-close {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 1.285em;
    color: #7d7d7d; }
  .modal-header h4 {
    margin: 0px;
    padding-top: 20px; }

#popupwindow {
  padding-right: 0px; }
  #popupwindow body {
    padding: 0px; }

.modal-dialog {
  position: relative;
  top: 20%; }

.form-group .col-sm-10 {
  margin-left: 45px; }

.forgot {
  padding-right: 70px; }

.button-signin {
  border-radius: 0px;
  color: white;
  background-color: #bbbbbb;
  box-shadow: none;
  margin-left: 45px;
  padding: 10px 30px;
  font-family: "titillium_websemibold";
  font-size: 1em;
  margin-bottom: 20px; }

.modal-body {
  padding-bottom: 0px; }

.modal-footer {
  border: none;
  padding-top: 0px; }

.media-left {
  float: left; }

.slideshow {
  margin-top: 79px; }
  .slideshow .item {
    text-align: center; }
  .slideshow .container-fluid {
    padding: 0px; }
  .slideshow .carousel-inner .qc {
    margin: 0px auto;
    padding: 0px;
    position: relative; }
    .slideshow .carousel-inner .qc img {
      min-height: 550px;
      max-width: inherit;
      width: auto;
      display: inline-block; }
  .slideshow .carousel-inner .carousel-caption {
    height: auto;
    position: absolute;
    left: 50%;
    max-width: 1140px;
    margin-left: -570px;
    width: 300px;
    padding: 0px;
    top: 50%;
    margin-top: -112px;
    bottom: 0px; }
    .slideshow .carousel-inner .carousel-caption h1 {
      margin-top: 0px;
      text-align: left;
      font-family: "titillium_websemibold";
      font-size: 2.857em;
      color: #fff;
      margin-bottom: 20px; }
    .slideshow .carousel-inner .carousel-caption p {
      text-align: left;
      font-family: "titillium_websemibold";
      font-size: 1em;
      color: #fff;
      padding: 3px;
      margin: 0px;
      text-shadow: none;
      margin-bottom: 4px; }
    .slideshow .carousel-inner .carousel-caption a {
      padding: 14px 49px;
      background-color: #BBBBBB;
      font-family: "titillium_websemibold";
      font-size: 1em;
      color: #fff; }
      .slideshow .carousel-inner .carousel-caption a:hover {
        text-decoration: none;
        color: red;
        background-color: black; }
    .slideshow .carousel-inner .carousel-caption .sale {
      font-family: "titillium_websemibold";
      font-size: 30px;
      color: #d83737;
      margin-top: 17px;
      margin-bottom: 10px; }
  .slideshow .btn-left {
    max-width: 1140px;
    position: absolute;
    left: 50%;
    margin-left: -625px;
    top: 45%; }
  .slideshow .btn-right {
    max-width: 1140px;
    position: absolute;
    right: 50%;
    margin-right: -600px;
    top: 45%; }
  .slideshow .left.carousel-control {
    position: relative;
    background: none;
    border-radius: 360px;
    border: 2px solid #b4b4b4;
    text-shadow: none;
    padding-right: 24px; }
    .slideshow .left.carousel-control .fa.fa-angle-left {
      position: absolute;
      font-size: 0.928em;
      color: #b4b4b4;
      text-shadow: none;
      top: 0px;
      right: 0px;
      padding-right: 9px;
      padding-top: 3px; }
    .slideshow .left.carousel-control:hover {
      border: 2px solid #ff2525;
      color: #ff2525; }
      .slideshow .left.carousel-control:hover .fa.fa-angle-left {
        color: #ff2525; }
  .slideshow .right.carousel-control {
    position: relative;
    background: none;
    border-radius: 360px;
    border: 2px solid #b4b4b4;
    text-shadow: none;
    padding-left: 24px; }
    .slideshow .right.carousel-control .fa.fa-angle-right {
      position: absolute;
      font-size: 0.928em;
      color: #b4b4b4;
      text-shadow: none;
      left: 7px;
      right: 5px;
      top: 3px; }
    .slideshow .right.carousel-control:hover {
      border: 2px solid #ff2525;
      color: #ff2525; }
      .slideshow .right.carousel-control:hover .fa.fa-angle-right {
        color: #ff2525; }

.textform {
  background-color: #3a3a45;
  padding-top: 35px;
  padding-bottom: 28px;
  margin: 0px; }
  .textform .container {
    padding: 0px;
    margin-bottom: 0px; }
  .textform .carousel-generic1 {
    width: 1119px; }
  .textform .col-md-3 {
    padding-bottom: 0px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 9px; }
    .textform .col-md-3 .form-group input {
      background-color: #262633;
      border-radius: 0px;
      border: none;
      box-shadow: none;
      margin-bottom: 11px; }
    .textform .col-md-3 .form-group-second input {
      background-color: #262633;
      border-radius: 0px;
      border: none;
      box-shadow: none; }
    .textform .col-md-3 .form-btn {
      background-color: #d83737;
      padding: 70px 50px;
      margin-right: 25px;
      margin-top: -40px;
      margin-bottom: -37px;
      border-radius: 0px;
      color: white;
      font-family: "titillium_websemibold";
      font-size: 1.285em; }
      .textform .col-md-3 .form-btn:hover {
        background-color: #B02020; }
      .textform .col-md-3 .form-btn:focus {
        outline: none; }

.slide {
  background-color: #fafafa; }
  .slide .container {
    padding: 0px;
    width: 1119px;
    position: relative;
    padding-bottom: 24px; }
    .slide .container .col-md-10 {
      padding-left: 0px; }
    .slide .container h2 {
      margin-top: 17px;
      padding-bottom: 4px;
      text-align: left;
      font-family: "titillium_websemibold";
      font-size: 2.142em;
      color: #232331; }
    .slide .container .slide-title {
      text-align: center;
      font-family: "titillium_websemibold";
      font-size: 2.142em;
      color: #000000;
      padding-top: 40px;
      padding-bottom: 40px; }
    .slide .container .carousel-inner {
      width: 1119px;
      padding-left: 0px;
      /*.over-image{
      	position:relative;
      	&:hover{
      		.slide-btn{
      			display: block;
      		}
      		a{
      			img{
      				opacity: 0.7;
      			}
      		}
      	}
      }*/ }
      .slide .container .carousel-inner .item-first {
        padding-left: 0px;
        padding-right: 30px; }
      .slide .container .carousel-inner .item-last {
        padding-right: 0px;
        padding-left: 30px; }
      .slide .container .carousel-inner .item-second {
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 3px; }
      .slide .container .carousel-inner .row {
        margin: 15px;
        margin-left: 3px;
        margin-bottom: 0px; }
      .slide .container .carousel-inner .over-image {
        position: relative;
        z-index: 1; }
        .slide .container .carousel-inner .over-image:hover .slide-btn, .slide .container .carousel-inner .over-image:hover .col-md-4 .slide-btn1, .slide .container .carousel-inner .col-md-4 .over-image:hover .slide-btn1, .slide .container .carousel-inner .over-image:focus .slide-btn, .slide .container .carousel-inner .over-image:focus .col-md-4 .slide-btn1, .slide .container .carousel-inner .col-md-4 .over-image:focus .slide-btn1 {
          display: block; }
        .slide .container .carousel-inner .over-image:hover .image-slide, .slide .container .carousel-inner .over-image:focus .image-slide {
          display: block; }
          .slide .container .carousel-inner .over-image:hover .image-slide:before, .slide .container .carousel-inner .over-image:focus .image-slide:before {
            content: "";
            height: 100%;
            width: 100%;
            z-index: 2;
            background-color: #232331;
            opacity: 0.9;
            position: absolute;
            left: 0;
            top: 0; }
      .slide .container .carousel-inner .slide-btn, .slide .container .carousel-inner .col-md-4 .slide-btn1 {
        position: absolute;
        color: #fff;
        z-index: 5;
        top: 80px;
        right: 0px;
        background-color: #d83737;
        font-family: "titillium_websemibold";
        font-size: 1.071em;
        padding: 39px 24px;
        text-transform: uppercase; }
        .slide .container .carousel-inner .slide-btn:hover, .slide .container .carousel-inner .col-md-4 .slide-btn1:hover {
          text-decoration: none;
          background-color: #B02020; }
      .slide .container .carousel-inner .col-md-4 .prices {
        font-family: "titillium_webbold";
        font-size: 1.428em;
        color: #d83737;
        padding-bottom: 40px; }
      .slide .container .carousel-inner .col-md-4 img {
        width: 370px;
        height: 240px; }
      .slide .container .carousel-inner .col-md-4 h2 {
        font-family: "titillium_websemibold";
        font-size: 2.142em;
        color: #232331; }
      .slide .container .carousel-inner .col-md-4 .col-md-2 {
        padding: 0px; }
        .slide .container .carousel-inner .col-md-4 .col-md-2 p {
          font-family: "titillium_websemibold";
          font-size: 1em;
          color: #232331;
          margin-bottom: 12px; }
      .slide .container .carousel-inner .col-md-4 .col-md-10 p {
        margin-bottom: 12px; }
    .slide .container a.right.carousel-control {
      text-shadow: none; }
    .slide .container a.left.carousel-control {
      text-shadow: none; }
    .slide .container .btn-left {
      max-width: 1140px;
      position: absolute;
      left: 50%;
      margin-left: -617px;
      top: 38%; }
    .slide .container .btn-right {
      max-width: 1140px;
      position: absolute;
      right: 50%;
      margin-right: -618px;
      top: 38%; }
    .slide .container .left.carousel-control {
      position: relative;
      background: none;
      border-radius: 360px;
      border: 2px solid #b4b4b4;
      text-shadow: none;
      padding-right: 24px; }
      .slide .container .left.carousel-control .fa.fa-angle-left {
        position: absolute;
        font-size: 0.928em;
        color: #b4b4b4;
        text-shadow: none;
        top: 0px;
        right: 0px;
        padding-right: 10px;
        padding-top: 3px; }
      .slide .container .left.carousel-control:hover {
        border: 2px solid #ff2525;
        color: #ff2525; }
        .slide .container .left.carousel-control:hover .fa.fa-angle-left {
          color: #ff2525; }
    .slide .container .right.carousel-control {
      position: relative;
      background: none;
      border-radius: 360px;
      border: 2px solid #b4b4b4;
      text-shadow: none;
      padding-left: 24px; }
      .slide .container .right.carousel-control .fa.fa-angle-right {
        position: absolute;
        font-size: 0.928em;
        color: #b4b4b4;
        text-shadow: none;
        left: 7px;
        right: 5px;
        top: 2px;
        padding-top: 1px;
        padding-left: 1px; }
      .slide .container .right.carousel-control:hover {
        border: 2px solid #ff2525;
        color: #ff2525; }
        .slide .container .right.carousel-control:hover .fa.fa-angle-right {
          color: #ff2525; }

.option-group .container {
  margin-top: 56px; }
  .option-group .container #Tab1 .col-md-3 a:hover {
    text-decoration: none;
    color: #800000; }
  .option-group .container .readmore {
    margin-top: 52px;
    display: block;
    text-align: center; }
    .option-group .container .readmore a {
      width: 20px;
      height: 20px;
      border-radius: 360px;
      border: 2px solid #888888;
      font-family: "titillium_websemibold";
      padding: 0px 1px 2px 1px; }
      .option-group .container .readmore a i {
        font-size: 0.857em;
        color: #888888;
        line-height: 12px;
        padding: 0px 5px 5px 5px; }
    .option-group .container .readmore .showmore {
      border: none;
      padding-left: 5px;
      color: #888888; }
  .option-group .container .tab-content {
    margin-top: 135px;
    margin-bottom: 77px; }
    .option-group .container .tab-content h3 {
      font-size: 1.285em;
      font-family: "titillium_websemibold";
      text-align: center;
      padding-top: 5px;
      margin-top: 13px; }
  .option-group .container ul {
    border-bottom: 1 solid #e6e6e6;
    padding: 0px 400px 0px 450px; }
    .option-group .container ul .active {
      border: none;
      border-bottom: 4px solid #d83737; }
      .option-group .container ul .active a {
        color: #d83737; }
        .option-group .container ul .active a:focus {
          outline: none;
          border: none; }
    .option-group .container ul li a {
      font-family: "titillium_webbold";
      font-size: 1.428em;
      border: none;
      color: #232331; }
      .option-group .container ul li a:hover {
        outline: none;
        border: none;
        background: none; }

.group-collapse {
  background-color: #232331; }
  .group-collapse .container {
    padding-top: 40px;
    padding-bottom: 154px; }
    .group-collapse .container h2 {
      font-family: "titillium_websemibold";
      font-size: 2.142em;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      margin-top: 28px; }
    .group-collapse .container .panel-group {
      padding-top: 22px; }
    .group-collapse .container .panel-default {
      border: none;
      border-radius: 0px;
      margin: 0px;
      border-bottom: 1px solid #57576e; }
      .group-collapse .container .panel-default .panel-body {
        background-color: #232331;
        border: none;
        padding-top: 10px;
        padding-bottom: 22px; }
        .group-collapse .container .panel-default .panel-body p {
          font-family: "titillium_webregular";
          font-size: 1.071em;
          color: #57576e;
          margin-bottom: 6px; }
  .group-collapse .panel-heading {
    background: none;
    background-color: #232331;
    border-radius: 0px;
    padding-top: 19px;
    padding-bottom: 29px; }
    .group-collapse .panel-heading .collapse-first {
      color: #d83737; }
      .group-collapse .panel-heading .collapse-first i {
        color: #d83737;
        border: 2px solid #d83737; }
    .group-collapse .panel-heading a {
      color: #fff;
      height: 32px;
      width: 32px;
      font-size: 1.428em;
      font-family: "titillium_websemibold"; }
      .group-collapse .panel-heading a:focus {
        color: #d83737;
        text-decoration: none;
        outline: none; }
        .group-collapse .panel-heading a:focus i {
          color: #d83737;
          border: 2px solid #d83737; }
      .group-collapse .panel-heading a:hover {
        text-decoration: none;
        color: #d83737; }
        .group-collapse .panel-heading a:hover i {
          color: #d83737;
          border: 2px solid #d83737; }
      .group-collapse .panel-heading a i {
        line-height: 10px;
        font-size: 0.714em;
        color: #fff;
        border-radius: 360px;
        border: 2px solid #fff;
        padding: 4.3px 4px 3.6px 4px;
        margin-right: 8px; }
    .group-collapse .panel-heading .collapsed {
      color: #fff; }
      .group-collapse .panel-heading .collapsed i {
        color: #fff;
        border: 2px solid #fff; }

.information .col-md-3 {
  top: 24px; }
.information .section-right {
  border-left: 1px solid #e5e0e0;
  padding-left: 64px; }
  .information .section-right .title-content {
    border: 1px solid #dddde2;
    margin-bottom: 5px; }
  .information .section-right .media {
    margin-top: 8px;
    margin-bottom: 8px; }
  .information .section-right .media-body {
    padding-left: 0px; }
  .information .section-right img {
    margin-left: 8px;
    width: 48px;
    height: 36px;
    border-radius: 2px; }
  .information .section-right .list-title {
    margin-top: 65px; }
.information .section-left .media-first {
  margin-bottom: 40px;
  margin-top: 65px; }
.information .section-left img {
  height: 159px;
  width: 270px; }
.information .col-md-6 {
  padding-top: 50px;
  padding-bottom: 70px; }
  .information .col-md-6 h3 {
    font-family: "titillium_websemibold";
    font-size: 2.142em;
    color: #232331; }
  .information .col-md-6 .seemore {
    float: left;
    font-family: "titillium_websemibold";
    font-size: 1em;
    color: #888888; }
    .information .col-md-6 .seemore:hover {
      border: none;
      background: none;
      outline: none;
      color: red;
      text-decoration: none; }
      .information .col-md-6 .seemore:hover i {
        color: red;
        border: 2px solid red; }
    .information .col-md-6 .seemore:focus {
      border: none;
      background: none;
      outline: none; }
    .information .col-md-6 .seemore i {
      font-size: 0.857em;
      padding-right: 5px;
      padding-bottom: 2px;
      padding-left: 5px;
      color: #888888;
      border-radius: 360px;
      border: 2px solid #888888;
      padding: 5px 6px 5px 7px;
      font-size: 0.857em;
      margin-right: 8px; }
.information .content {
  padding-left: 10px; }
  .information .content h4 {
    margin-bottom: 0px;
    font-family: "titillium_websemibold";
    font-size: 1.071em;
    color: #3e3e48;
    margin-top: 0px; }
  .information .content p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "titillium_webregular";
    font-size: 1em;
    color: #888888; }
  .information .content h2 {
    font-family: "titillium_websemibold";
    font-size: 1.428em;
    color: black;
    margin-top: 0px;
    margin-bottom: 16px; }
    .information .content h2:hover {
      color: #d83737; }
  .information .content a {
    font-family: "titillium_websemibold";
    font-size: 0.857em;
    color: #9595a1;
    padding: 0px 20px 1px 20px;
    border: 1px solid #dddde2; }
    .information .content a:hover {
      text-decoration: none;
      color: blue;
      border: 1px solid blue; }
  .information .content span {
    padding-left: 8px;
    color: #bbbbbb;
    font-family: "titillium_websemibold";
    font-size: 12px; }
.information .star i {
  font-size: 1.285em;
  color: #ffdb69; }
.information .title-content .col-md-4 {
  position: relative; }
  .information .title-content .col-md-4 .star {
    position: absolute;
    top: 9px;
    right: 20px; }
    .information .title-content .col-md-4 .star:hover {
      outline: none; }
      .information .title-content .col-md-4 .star:hover i {
        color: yellow; }
  .information .title-content .col-md-4 .review {
    position: absolute;
    right: 20px;
    top: 25px;
    font-family: "titillium_websemibold";
    font-size: 0.857em;
    color: #b5b5b5; }

.tab-bottom {
  background-image: url("../images/banner-2.png");
  height: 604px;
  background-repeat: no-repeat;
  background-color: #252531; }
  .tab-bottom ul {
    border: none; }
  .tab-bottom .row {
    margin: 0px; }
  .tab-bottom .nav-tabs > li.active a {
    background: none;
    border: none; }
    .tab-bottom .nav-tabs > li.active a:hover {
      background: none; }
  .tab-bottom .nav > li a {
    background: none;
    border: none;
    text-decoration: none;
    color: #57576e; }
  .tab-bottom .number {
    color: #57576e;
    font-family: 'titillium_weblight';
    font-size: 70px; }
  .tab-bottom .col-md-4 {
    top: -20px;
    padding: 0px; }
  .tab-bottom .col-md-8 {
    padding: 0px;
    padding-left: 5px;
    font-family: "titillium_webregular";
    font-size: 1em; }
    .tab-bottom .col-md-8 h4 {
      font-family: "titillium_websemibold";
      font-size: 1.428em; }
  .tab-bottom .tag2 {
    text-align: center;
    margin-left: 490px;
    padding-top: 10px; }
  .tab-bottom .tag1 {
    padding-left: 122px;
    padding-top: 10px; }
  .tab-bottom .tag3 {
    margin-right: 62px;
    padding-top: 10px; }
  .tab-bottom li {
    width: 365px;
    height: auto;
    background: none; }
  .tab-bottom .container {
    padding-top: 30px; }
  .tab-bottom h2 {
    font-family: "titillium_websemibold";
    font-size: 2.142em;
    color: #ffffff;
    text-align: center;
    margin-top: 38px; }
  .tab-bottom .over-tab {
    padding-top: 62px; }
  .tab-bottom .active {
    background: none; }
    .tab-bottom .active h4 {
      color: #d83737; }
    .tab-bottom .active .content {
      color: #57576e;
      font-family: "titillium_webregular";
      font-size: 1em;
      border-bottom: 1px solid #57576e; }
      .tab-bottom .active .content:last-child {
        border: none; }
    .tab-bottom .active .title {
      color: white;
      font-family: "titillium_websemibold";
      font-size: 1em; }
    .tab-bottom .active .number {
      color: #d83737; }
  .tab-bottom .content {
    width: 220px;
    text-align: left;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-bottom: 0px; }

.form-toolbar {
  position: fixed;
  z-index: 999;
  top: 35%;
  right: 20px; }
  .form-toolbar .nav > li > a:focus {
    background-color: #232331; }
  .form-toolbar li {
    margin-bottom: 5px; }
    .form-toolbar li:hover a {
      background-color: #000; }
      .form-toolbar li:hover a i {
        color: #c8060c; }
    .form-toolbar li .toolbar-signin, .form-toolbar li .toolbar-desktop, .form-toolbar li .toolbar-phone, .form-toolbar li .toolbar-review {
      width: 43px;
      height: 43px;
      border-radius: 360px;
      background-color: #232331;
      padding: 11px 0px 0px 16px;
      top: 0px; }
      .form-toolbar li .toolbar-signin i, .form-toolbar li .toolbar-desktop i, .form-toolbar li .toolbar-phone i, .form-toolbar li .toolbar-review i {
        font-size: 1em;
        color: #fff;
        line-height: 14px;
        width: 14px;
        height: 14px; }
    .form-toolbar li .toolbar-desktop {
      padding: 13px 0px 0px 14px; }
    .form-toolbar li .toolbar-phone {
      padding: 14px 0px 0px 16.5px; }
      .form-toolbar li .toolbar-phone i {
        font-size: 1.714em; }
    .form-toolbar li .toolbar-review {
      padding: 10px 0px 0px 15px; }

.information-contact {
  background-color: #fafafa; }
  .information-contact h2 {
    font-family: "titillium_websemibold";
    font-size: 2.142em;
    text-align: center;
    color: 232331;
    margin-bottom: 82px; }
  .information-contact .first-line {
    margin-bottom: 38px; }
  .information-contact .container {
    padding-top: 44px;
    margin-bottom: 142px; }
  .information-contact .information-over {
    margin-left: 16px; }
  .information-contact .col-md-4 {
    font-family: "titillium_websemibold";
    font-size: 1.071em;
    color: #232331;
    padding-left: 35px; }
    .information-contact .col-md-4 .col-md-10 {
      padding: 0px; }
  .information-contact form {
    margin-top: 28px; }
  .information-contact .form-group {
    margin-bottom: 12px; }
    .information-contact .form-group .form-control {
      border-radius: 0px;
      font-family: "titillium_webregular";
      font-size: 1em;
      width: 370px; }
  .information-contact .discription {
    width: 370px;
    height: 102px; }
    .information-contact .discription .form-control {
      border-radius: 0px;
      font-family: "titillium_webregular";
      font-size: 1em; }
  .information-contact .col-md-8 {
    padding-left: 100px;
    position: relative;
    z-index: 1;
    margin-left: -40px; }
  .information-contact .border {
    position: absolute;
    z-index: 3;
    height: 515px;
    left: -41px; }
  .information-contact iframe {
    position: absolute;
    z-index: 2;
    height: 450px;
    top: 40px;
    width: 775px; }
  .information-contact .button-bottom {
    margin-top: 4px;
    background-color: #d83737;
    padding: 30px 25px;
    border-radius: 0px;
    color: white;
    font-family: "titillium_websemibold";
    font-size: 1.285em;
    margin-right: -42px; }
    .information-contact .button-bottom:hover {
      background-color: #B02020; }

/*# sourceMappingURL=style.css.map */
