.header{
  background-color: #2E2E3B;
   .logo{
      padding-top:13px;
      padding-bottom:13px;
      p{
         font-family:$font-secondary;
         font-size:$fontsize-18;
         background-color:#d83737;
         color:#fff;
         margin:0px;
         padding:5px;
         padding-top:0px;
      }
   }
   .container{
   		nav{
   			ul{
   				padding-top:4px;
   				li{
   					a{
   						font-family:$font-third;
   						color:#fff;
   						&:hover{
   							background:none;
   							color:red;
   						}
   						&:focus{
   							background:none;
   							border:none;
   						}
   					}
   				}
   			}
   		}
   }
}