.header{
  background-color: #2E2E3B;
  position:fixed;
  top:0px;
  z-index: 9999;
  left:0px;
  right:0px;
  .container{
  	padding-top:9px;
  	padding-bottom:9px;
  }
   .logo{
      padding-top:13px;
      padding-bottom:13px;
      p{
         font-family:$font-secondary;
         font-size:$fontsize-18;
         background-color:#d83737;
         color:#fff;
         margin:0px;
         padding: 4px 17px 6px 17px;
      }
   }

	ul{
		padding-top:4px;
		li{
			a{
            padding-left:19px;
				font-family:$font-third;
				color:#fff;
				font-size:$fontsize-16;
				&:hover{
					background:none;
					color:red;
				}
				&:focus{
					background:none;
					border:none;
				}
			}
		}
	}
}