.form-toolbar{
	position:fixed;
	z-index:999;
	top:35%;
	right:0px;
	li{
		margin-bottom:5px;
		&:hover{
			a{
				background-color:#000;
				i{
					color:#c8060c;
				}
			}
		}
		.toolbar-signin{
			width:50px;
			height:50px;
			border-radius:360px;
			background-color:#232331;
			padding:15px 12px 10px 20px;
			top:0px;

			i{
				font-size:$fontsize-14;
				color:#fff;
				line-height:14px;
				width:14px;
				height:14px;
			}
		}
		.toolbar-desktop{
			@extend .toolbar-signin;
			padding:15px 15px 8px 18px;
		}
		.toolbar-phone{
			@extend .toolbar-signin;
			i{
				font-size:$fontsize-24;
			}
			padding:17px 10px 6px 20px;
		}
		.toolbar-review{
			@extend .toolbar-signin;
			padding:12px 12px 10px 18px;
		}		
	}
}
.information-contact{
	background-color:#fafafa;
	.container{
		padding-top:40px;
	}
	.information-over{
		margin-left:16px;
	}
	.col-md-4{
		font-family:$font-primary;
		font-size:$fontsize-15;
		color:#232331;
		padding-left:35px;
		.col-md-10{
			padding:0px;
		}
	}
	.form-group{
		.form-control{
			border-radius:0px;
			font-family:$font-third;
			font-size:$fontsize-14;
		}
	}
	.discription{
		.form-control{
			border-radius:0px;
			font-family:$font-third;
			font-size:$fontsize-14;
		}
	}
	.col-md-8{
		padding-left:100px;
	}
	.button-bottom{
		margin-top:10px;
		background-color:#d83737;
		padding:30px 25px;
		border-radius:0px;
		color:white;
		font-family:$font-primary;
		font-size:$fontsize-18;
		&:hover{
			background-color:#B02020;
		}
	}
}	