

.media-left{
	float:left;
}
.slideshow{
	margin-top:79px;
	.item{
		text-align:center;
	}
	.container-fluid{
		padding:0px;
	}
	.carousel-inner{
		.qc{
			margin:0px auto;
			padding:0px;
			img{
				min-height: 550px;
				max-width:inherit;
				width:auto;
				display:inline-block;
			}
				position:relative;
		}
		.carousel-caption{
			height: auto;
			position:absolute;
			left:50%;
			max-width:1140px;
			margin-left:-570px;
			width:300px;
			padding:0px;
			top:50%;
			margin-top: -112px;
			bottom:0px;
			h1{
				margin-top: 0px;
				text-align:left;
				font-family:$font-primary;
				font-size:$fontsize-40;
				color:#fff;
				margin-bottom:20px;
			}
			p{
				text-align:left;
				font-family:$font-primary;
				font-size:$fontsize-14;
				color:#fff;
				padding:3px;
				margin:0px;
				text-shadow: none;
				margin-bottom:4px;
			}
			a{
				padding:14px 49px;
				background-color:#BBBBBB;
				font-family:$font-primary;
				font-size:$fontsize-14;
				color:#fff;
				&:hover{
					text-decoration:none;
					color:red;
					background-color:black;
				}
			}
			.sale{
				font-family:$font-primary;
				font-size: 30px;
				color:#d83737;
				margin-top:17px;
				margin-bottom:10px;
			}

		}

	}
	.btn-left{
		max-width:1140px;
		position:absolute;
		left:50%;
		margin-left:-625px;
		top:45%; 
	}
	.btn-right{
		max-width:1140px;
		position:absolute;
		right:50%;
		margin-right:-600px;
		top:45%; 
	}
.left.carousel-control{
		position:relative;
		background:none;
		border-radius:360px;
		border: 2px solid #b4b4b4;
		text-shadow: none;
		padding-right:24px;
		.fa.fa-angle-left{
			position:absolute;
			font-size:$fontsize-13;
			color:#b4b4b4;
			text-shadow:none;
			top:0px;
			right:0px;
			padding-right:9px;
			padding-top:3px;
		}
		&:hover{
			border: 2px solid #ff2525;
			color:#ff2525;
			.fa.fa-angle-left{
				color:#ff2525
			}						
		}
	}

.right.carousel-control{
		position:relative;
		background:none;
		border-radius:360px;
		border: 2px solid #b4b4b4;
		text-shadow: none;
		padding-left:24px;
		.fa.fa-angle-right{
			position:absolute;
			font-size:$fontsize-13;
			color:#b4b4b4;
			text-shadow:none;
			left:7px;
			right:5px;
			top:3px;
		}
		&:hover{
			border: 2px solid #ff2525;
			color:#ff2525;
			.fa.fa-angle-right{
				color:#ff2525
			}						
		}
	}
}
.textform{
	background-color:#3a3a45;
	padding-top:35px;
	padding-bottom:28px;
	margin:0px;
	.container{
		padding:0px;
		margin-bottom: 0px;
	}
	.carousel-generic1{
		width:1119px;
	}
	.col-md-3{
		padding-bottom:0px;
		margin:0px;
		margin-top:5px;
		margin-bottom:9px;
		.form-group{
			input{
				background-color:#262633;
				border-radius:0px;
				border:none;
				box-shadow:none;
				margin-bottom:11px;
			}
		}
		.form-group-second{
			input{
				background-color:#262633;
				border-radius:0px;
				border:none;
				box-shadow:none;
			}
		}
		.form-btn{
			background-color:#d83737;
			padding:70px 50px;
			margin-right:25px;
			margin-top:-40px;
			margin-bottom:-37px;
			border-radius:0px;
			color:white;
			font-family:$font-primary;
			font-size:$fontsize-18;
			&:hover{
				background-color:#B02020;	
			}
			&:focus{
				outline:none;
			}
		}
	}
}
.slide{
	background-color:#fafafa;
	.container{
		padding:0px;
		width: 1119px;
		position:relative;
		padding-bottom:24px;
		.col-md-10{
			padding-left:0px;
		}
		h2{
			margin-top:17px;
			padding-bottom:4px;
			text-align:left;
			font-family:$font-primary;
			font-size:$fontsize-30;
			color:#232331;
		}
		.slide-title{
			text-align:center;
			font-family:$font-primary;
			font-size:$fontsize-30;
			color:#000000;
			padding-top:40px;
			padding-bottom:40px;
		}
		.carousel-inner{
			width:1119px;
			padding-left:0px;
			.item-first{
				padding-left:0px;
				padding-right:30px;
			}
			.item-last{
				padding-right:0px;
				padding-left:30px;

			}
			.item-second{
				padding-bottom:0px;
				padding-left:0px;
				padding-right:3px;
			}
			.row{
				margin:15px;
				margin-left:3px;
				margin-bottom: 0px;
			}
			/*.over-image{
				position:relative;
				&:hover{
					.slide-btn{
						display: block;
					}
					a{
						img{
							opacity: 0.7;
						}
					}
				}
			}*/


	.over-image{
	    position: relative;
	    z-index: 1;
	    &:hover, &:focus{
			
			.slide-btn{
				display: block;
			}
	      .image-slide{
	        display: block;
	        &:before{
	          content: "";
	          height: 100%;
	          width: 100%;
	          z-index: 2;
	          background-color: #232331;
	          opacity: 0.9;
	          position: absolute;
	          left: 0;
	          top: 0;
	        }
	      }
	    }

	  }
  .slide-btn{
			//display:none;
			position:absolute;
			color:#fff;
			z-index:5;
			top:80px;
			right:0px;
			background-color:#d83737;
			font-family:$font-primary;
			font-size:$fontsize-15;
			padding:39px 24px;
			text-transform:uppercase;
			&:hover{
				text-decoration:none;
				background-color:#B02020;

			}

		}
	.col-md-4{
		.prices{
			font-family:$font-secondary;
			font-size:$fontsize-20;
			color:#d83737;
			padding-bottom:40px;
		}
		img{
			width:370px;
			height:240px;
		}

		h2{
			font-family:$font-primary;
			font-size:$fontsize-30;
			color:#232331;	
		}
		.slide-btn1{
			@extend .slide-btn;
		}
		.col-md-2{
			padding:0px;
			p{
				font-family:$font-primary;
				font-size:$fontsize-14;
				color:#232331;
				margin-bottom:12px;
			}
		}
		.col-md-10{
			p{
				margin-bottom:12px;
			}
		}
	}


	}
	a.right.carousel-control{
		text-shadow: none;
	}
	a.left.carousel-control{
		text-shadow: none;
	}
	.btn-left{
		max-width:1140px;
		position:absolute;
		left:50%;
		margin-left:-617px;
		top:38%; 
	}
	.btn-right{
		max-width:1140px;
		position:absolute;
		right:50%;
		margin-right:-618px;
		top:38%; 
	}
.left.carousel-control{
		position:relative;
		background:none;
		border-radius:360px;
		border: 2px solid #b4b4b4;
		text-shadow: none;
		padding-right:24px;
		.fa.fa-angle-left{
			position:absolute;
			font-size:$fontsize-13;
			color:#b4b4b4;
			text-shadow:none;
			top:0px;
			right:0px;
			padding-right:10px;
			padding-top:3px;
		}
		&:hover{
			border: 2px solid #ff2525;
			color:#ff2525;
			.fa.fa-angle-left{
				color:#ff2525
			}						
		}
	}

.right.carousel-control{
		position:relative;
		background:none;
		border-radius:360px;
		border: 2px solid #b4b4b4;
		text-shadow: none;
		padding-left:24px;
		.fa.fa-angle-right{
			position:absolute;
			font-size:$fontsize-13;
			color:#b4b4b4;
			text-shadow:none;
			left:7px;
			right:5px;
			top:2px;
			padding-top:1px;
			padding-left:1px;
		}
		&:hover{
			border: 2px solid #ff2525;
			color:#ff2525;
			.fa.fa-angle-right{
				color:#ff2525
			}						
		}
	}

	
	}
}
.option-group{
	.container{
		margin-top:56px;
		#Tab1{
			.col-md-3{
				a{
					&:hover{
						text-decoration:none;
						color:#800000;
					}
				}
			}
		}
		.readmore
		{
			margin-top:52px;
			display:block;
			text-align:center;
			a{
				width: 20px;
				height: 20px;
				border-radius:360px;
				border:2px solid #888888;
				font-family: $font-primary;
				padding:0px 1px 2px 1px;
				i{
					font-size:$fontsize-12;
					color:#888888;
					line-height:12px;
					padding:0px 5px 5px 5px;
				}
			}
			.showmore{
				border:none;
				padding-left:5px;
				color:#888888;
			}
		}
		.tab-content{
			margin-top:135px;
			margin-bottom:77px;
			h3{
				font-size:$fontsize-18;
				font-family: $font-primary;
				text-align: center;
				padding-top:5px;
				margin-top:13px;
			}
		}
		ul{

			border-bottom:1 solid #e6e6e6;
			padding:0px 400px 0px 450px;
			.active{
					border:none;
					border-bottom:4px solid #d83737;
					a{
						color:#d83737;
						&:focus{
							outline: none;
							border:none;
						}
					}
				}
			li{

				a{
					font-family:$font-secondary;
					font-size:$fontsize-20;
					border:none;
					color:#232331;
					&:hover{
							outline: none;
							border:none;
							background:none;						
					}

				}
			}
		}
	}
}
.group-collapse{
	background-color:#232331;
	.container{
		padding-top:40px;
		padding-bottom:154px;
		h2{
			font-family:$font-primary;
			font-size:$fontsize-30;
			color:#ffffff;
			text-align:center;
			text-transform: uppercase;
			margin-top:28px;
		}
		.panel-group{
			padding-top:22px;
		}
		.panel-default{
			border:none;
			border-radius:0px;
			margin:0px;
			border-bottom:1px solid #57576e;
			.panel-body{
				background-color:#232331;
				border:none;
				padding-top:10px;
				padding-bottom:22px;
				p{
					font-family:$font-third;
					font-size:$fontsize-15;
					color:#57576e;
					margin-bottom:6px;
				}
			}
		}
	}
.panel-heading{
	background:none;
	background-color:#232331;
	border-radius:0px;
	padding-top:19px;
	padding-bottom:29px;
		.collapse-first{
			color:#d83737;
				i{
					color:#d83737;
					border:2px solid #d83737;
				}
		}
		a{
			color:#fff;
			height:32px;
			width:32px;
			font-size:$fontsize-20;
			font-family:$font-primary;
			&:focus{
				color:#d83737;
				text-decoration:none;
				outline:none;
				i{
					color:#d83737;
					border:2px solid #d83737;
				}
			}
			&:hover{
				text-decoration:none;
				color:#d83737;
				i{
					color:#d83737;
					border:2px solid #d83737;
				}
			}
			i{
				line-height: 10px;
				font-size:$fontsize-10;
				color:#fff;
				border-radius:360px;
				border:2px solid #fff;	
				padding:4.3px 4px 3.6px 4px;	
				margin-right: 8px;		
			}
		}
		.collapsed{
			color:#fff;	
			i{
				color:#fff;
				border:2px solid #fff;
			}
		}
	}
}
.information{
	.col-md-3{
		top:24px;
	}
	.section-right{
		border-left: 1px solid #e5e0e0;
		padding-left:64px;
		.title-content{
			border:1px solid #dddde2;
			margin-bottom:5px;
		}
		.media{
			margin-top:8px;
			margin-bottom:8px;
		}
		.media-body{
			padding-left:0px;
		}
		img{
			margin-left:8px;
			width:48px;
			height:36px;
			border-radius:2px;
		}
		.list-title{
			margin-top:65px;
		}
	}
	.section-left{
		.media-first{
			margin-bottom:40px;
			margin-top:65px;
		}
		img{
			height:159px;
			width:270px;
		}
	}
	.col-md-6{
		padding-top:50px;
		padding-bottom:70px;
		h3{
			font-family:$font-primary;
			font-size:$fontsize-30;
			color:#232331;
		}
		.seemore{
			float:left;
			font-family:$font-primary;
			font-size:$fontsize-14;
			color:#888888;
			&:hover{
				border:none;
				background:none;
				outline:none;
				color:red;
				text-decoration: none;
				i{
					color:red;
					border:2px solid red;
				}
			}
			&:focus{
				border:none;
				background:none;
				outline: none;
			}
			i{
				font-size:$fontsize-12;
				padding-right:5px;
				padding-bottom:2px;
				padding-left:5px;
				color:#888888;
				border-radius:360px;
				border:2px solid #888888;
				padding:5px 6px 5px 7px;
				font-size:$fontsize-12;
				margin-right: 8px;
			}

		}
	}
	.content{
		padding-left: 10px;
		h4{
			margin-bottom:0px;
			font-family:$font-primary;
			font-size:$fontsize-15;
			color:#3e3e48;
			margin-top:0px;
		}
		p{
			margin-top:0px;
			margin-bottom: 0px;
			font-family:$font-third;
			font-size:$fontsize-14;
			color:#888888;
		}
		h2{
			font-family:$font-primary;
			font-size:$fontsize-20;
			color:black;
			margin-top:0px;
			margin-bottom:16px; 
			&:hover{
			color:#d83737;				
			}
		}
		a{
			font-family:$font-primary;
			font-size:$fontsize-12;
			color:#9595a1;
			padding:0px 20px 1px 20px;
			border: 1px solid #dddde2;
			&:hover{
				text-decoration:none;
				color:blue;
				border: 1px solid blue;
			}
		}
		span{
			padding-left:8px;
			color:#bbbbbb;
			font-family:$font-primary;
			font-size:12px;
		}
		
	}
	.star{
		i{
			font-size:$fontsize-18;
			color:#ffdb69;
		}
	}
	.title-content{
		.col-md-4{
			position:relative;
			.star{
				position:absolute;
				top:9px;
				right:20px;
				&:hover{
					outline:none;
					i{
						color:yellow;
					}
				}
			}
			.review{
				position:absolute;
				right:20px;
				top:25px;
				font-family:$font-primary;
				font-size:$fontsize-12;
				color:#b5b5b5;

			}
		}
	}
}
.tab-bottom{
	ul{
		border:none;
	}

	.row{
		margin:0px;
	}
	.nav-tabs > li.active{
			a{
				background:none;
				border:none;
				&:hover{
					background:none;
				}
			}
		}
	.nav > li{
		a{
			background:none;
			border:none;
			text-decoration:none;
			color:#57576e;
		}
	}
	.number{
		color:#57576e;
		font-family:'titillium_weblight';
		font-size:70px;
	}
	.col-md-4{
		top:-20px;
		padding:0px;
	}
	.col-md-8{
		padding:0px;
		padding-left:5px;
		font-family: $font-third;
		font-size:$fontsize-14;
		h4{
			font-family:$font-primary;
			font-size:$fontsize-20;
		}
	}
	.tag2{
		text-align:center;
		margin-left:490px;
		padding-top:10px;
	}
	.tag1{
		padding-left:122px;
		padding-top:10px;
	}
	.tag3{
		margin-right:62px;
		padding-top:10px;
	}
	background-image: url("../images/banner-2.png");
	height:604px;
	background-repeat:no-repeat;
	background-color:#252531;
	li{
		width:365px;
		height: auto;
		background:none;
	}
	.container{
		padding-top: 30px;
	}
	h2{
		font-family:$font-primary;
		font-size:$fontsize-30;
		color:#ffffff;
		text-align:center;
		margin-top:38px;
	}
	.over-tab{
		padding-top:62px;
	}
	.active{
		background:none;
		h4{
			color:#d83737;
		}
		.content{
			color:#57576e;
			font-family: $font-third;
			font-size:$fontsize-14;
			border-bottom: 1px solid #57576e;
			&:last-child{
				border:none;
			}
		}
		.title{
			color:white;
			font-family: $font-primary;
			font-size:$fontsize-14;
		}
		.number{
			color:#d83737;
		}
	}
	.content{
		width:220px;
		text-align:left;
		padding-bottom:7px;
		padding-top:7px;
		margin-bottom:0px;
	}
}


